# Archivos compilados de Java
*.class
*.jar
*.war
*.ear
*.log

# Carpetas de compilación
/bin/
/out/
/build/
/target/

# Archivos de configuración de IDEs
.idea/
.vscode/
.settings/
.project
.classpath
*.iml

# Archivos de sistema operativo
.DS_Store
Thumbs.db
